/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-codehaveli-wbitly-share-icons{
	display: flex;
    justify-content: start;
    gap: 5px;
}
